﻿@model List<RiskComplianceApp.Models.KRI>
@{
    ViewBag.Title = "KRIMultiplan";
}

<style>
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust the max-width as needed */
        cursor: pointer;
    }

    .full-content {
        white-space: normal;
        max-width: none;
    }
</style>

<div class="container mt-4">
    <h2> KRI -KRIMultiplan</h2>
    <form action="@Url.Action("UploadFileIBCPAberden", "Home")" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="btn btn-secondary mb-2" />
        <button type="submit" class="btn btn-primary mb-2">Upload</button>
    </form>
    <form action="@Url.Action("DownloadTemplateKRI", "Home")" method="post">
        <input type="hidden" name="downloadTemplate" value="true" />
        <button type="submit" class="btn btn-info mb-2">Download Template</button>
    </form>
    <div class="table-responsive">

        <table class="table table-hover table-bordered">
            <thead class="thead-dark">

                <tr>
                    <th>Sr_NO</th>
                    <th>Vertical</th>
                    <th>Account</th>
                    <th>Process</th>
                    <th>Sub_Process</th>
                    <th>Activity</th>

                    <th>Activity_Discription</th>

                    <th>Risk_Statement</th>
                    <th>Likelyhood</th>
                    <th>Impact</th>
                    <th>Risk_Score</th>
                    <th>Control_Name</th>
                    <th>Control_Description</th>
                    <th>Control_Effectiveness</th>
                    <th>DEsignl_Effectiveness</th>

                    <th>Residual_Risk_Considering_Control_Effectiveness</th>
                    <th>Residual_Risk_Considering_Design_Effectiveness</th>
                    <th>KRI1</th>

                    <th>Green</th>
                    <th>Amber</th>
                    <th>Red</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Sr_NO</td>
                        <td>@item.Vertical</td>
                        <td>@item.Account</td>
                        <td>@item.Process</td>
                        <td>@item.Sub_Process</td>
                        <td>@item.Activity</td>
                        <td>@item.Activity_Discription</td>
                        <td>@item.Risk_Statement</td>
                        <td>@item.Likelyhood</td>
                        <td>@item.Impact</td>
                        <td>@item.Risk_Score</td>
                        <td>@item.Control_Name</td>
                        <td>@item.Control_Description</td>
                        <td>@item.Control_Effectiveness</td>
                        <td>@item.Design_Effectiveness</td>


                        <td>@item.Residual_Risk_Considering_Conrol_Effectiveness</td>
                        <td>@item.Residual_Risk_Considering_Design_Effectiveness</td>
                        <td>@item.KRI1</td>
                        <td>@item.Green</td>
                        <td>@item.Amber</td>
                        <td>@item.Red</td>
                        <td>
                            @if (item.Status == "Approved")
                            {
                                <text>Approved</text>
                            }
                            else
                            {
                                <text>@(item.IsActive ? "Open" : "Audit")</text>
                            }
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <a href="@Url.Action("Assign19", new { id = item.Sr_NO })" class="btn btn-info">Assign</a>
                            }
                            else
                            {
                                <button class="btn btn-info" disabled>Assign</button>

                            }
                        </td>

                        <td>
                            <a href="@Url.Action("KRIMultiplan",new {item.Sr_NO,item.Vertical,item.Account,item.Process,item.Sub_Process,item.Activity,item.Activity_Discription,item.Risk_Statement,item.Likelyhood,item.Impact,
                                    item.Risk_Score,item.Control_Name,item.Control_Description,item.Control_Effectiveness,item.Design_Effectiveness   ,
                              item.Residual_Risk_Considering_Conrol_Effectiveness,item.Residual_Risk_Considering_Design_Effectiveness , item.KRI1,item.Green, item.Amber,item.Red

                    })" class="btn btn-success">Edit</a>

                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>